<div class="slides">
  <h1>Slides</h1>
  {{#each slideGroups}}
    <h3>{{this.name}}</h3>
    {{#each this.storage}}
       <ul class="gallery -triad -aligned">
       {{#each this}}
         <li>
           <div class="figure">
             <div class="figure__media">
               <img class="controls-slide" src="{{this.path}}" binding={{this.binding}}>
             </div>
             <div class="figure__body">
               <h4 class="keybinding"><b>{{this.binding}}</b></h4>
               {{this.name}}
             </div>
           </div>
         </li>
       {{/each}}
       </ul>
     {{/each}}
   {{/each}}
   <div class="form-actions">
     <button id="slideloop" class="button">Activate Slide Loop</button>
   </div>
</div>
